{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a new entry
{% endblock %}

{% block body %}
    <h2>Create a new entry</h1>
    <form action="{% url 'create' %}" method="post" class="col-lg-10 col-md-9">
      {% csrf_token %}
        <label for="title">Title : </label><br>
            <input type="text" name="title" placeholder="Title"><br><br>
            <label for="content">Add Entry Content in Markdown Format: </label><br>
            <textarea name="content" id="pagecontent" placeholder="#Title

            Content....." ></textarea>
          <br>
        <input type="submit">
    </form>
{% endblock %}

